<article class="browser-information">
  <h2>Browser capabilities</h2>
  <table>
    <tbody>
    {{#each caps}}
      <tr>
        <td>{{key}}</td><td>{{value}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</article>